body {
  text-align: center;
}

.style {
background-color: lightgray;
border-radius: 3%;
  padding: 40px;
  margin: 10px;
  width: 32%;

}

.jumbotron {
  background-image: url(https://static.photocdn.pt/images/articles/2017/04/28/iStock-516651882.jpg);
  background-size: cover;
  background-repeat: no-repeat;
    background-size: 100%;
}
