fieldset{
  width: 350px;
  border: 1px solid #505050;
  border-radius: 10px;
  padding: 20px;
  text-align: right;
}
legend{
  backgrond-color: #505050;
  border: 1px solid #505050;
  border-radius: 10px;
  padding: 10px 20px;
  text-align: left;
  text-transform: uppercase;
}
