<figure>
  <img src="https://s7d1.scene7.com/is/image/PETCO/cat-category-090617-369w-269h-hero-cutout-d?fmt=png-alpha" alt="Cats"title="Cute Cats"width="200" height="150"/>
  <img src="https://static.pexels.com/photos/104827/cat-pet-animal-domestic-104827.jpeg"width="200" height="150"/>
  <img src="https://www.petmd.com/sites/default/files/petmd-cat-happy-10.jpg" width="200" height="150"/>
    </figure>
<figure>
  <img src="https://www.petmd.com/sites/default/files/sleepy-cat-125522297.jpg"width="200" height="150"/>
  <img src="http://a57.foxnews.com/images.foxnews.com/content/fox-news/lifestyle/2017/11/09/how-to-keep-cat-from-scratching-your-sofa-to-shreds/_jcr_content/par/featured_image/media-0.img.jpg/931/524/1510172827500.jpg?ve=1&tl=1&text=big-top-image"width="200" height="150">
  <img src="https://img.buzzfeed.com/buzzfeed-static/static/2017-08/17/19/enhanced/buzzfeed-prod-fastlane-01/enhanced-7442-1503012194-4.jpg?downsize=715:*&output-format=auto&output-quality=auto"width="200" height="150">
  </figure>
<figure>
 <img src="https://cdn.theatlantic.com/assets/media/img/mt/2017/08/GettyImages_161785570/lead_960.jpg?1502385684"width="200" height="150"/>
  <img src="http://www.catster.com/wp-content/uploads/2017/11/A-white-cat.jpg"width="200" height="150"/>
  <img src="http://sites.psu.edu/siowfa15/wp-content/uploads/sites/29639/2015/10/cat.jpg"width="200" height="150">
  </figure>
