<div class="box">
  <p>University of Washington Bothell</p>
  <p>(This paper is a complete map of Universty of Bothell)</p>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2682.1624347310694!2d-122.19284354790835!3d47.75890358533383!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54900e60912da1e3%3A0xc3c813c4de1b50de!2sUniversity+of+Washington+Bothell!5e0!3m2!1sen!2sus!4v1460252241409" width="300" height="200"frameborder="3" style="border:1">
  </iframe>
  </div>
