body {
  text-align: center;
}

.style {
background-color: lightgray;
border-radius: 3%;
  padding: 40px;
  margin: 10px;
  width: 30%;

}

.jumbotron {
  background-image: url(image/ca_jumbo.jpg)
  background-size: cover;
  background-repeat: no-repeat;
    background-size: 100%;
}
