<head>
  <title>Pac-12 North Division</title>
</head>
<body> <img src="http://x.pac-12.com/profiles/pac12/themes/pac12_foundation/images/pac12/logo.png" alt="Pac-12 logo" title="Pac-12 Home">
  <h3>Vote for your favorite Football Team</h3>


  <form action="http://courses.washington.edu/bimd233/bimd.php" method="post">
  Select Teams  <input list="teams">      <datalist id="teams">

    <option value="Washington Huskies">
    <option value="Washington Cougars">
    <option value="Stanford Cardinals">
    <option value="California Bears">
    <option value="Oregon Beavers">
    <option value="Oregon Bucks">
</datalist><br><br>

    <img src="http://x.pac-12.com/sites/default/files/styles/thumbnail/public/washington-logo_0__1438812441.png"  width="32" height="32" >
    <input type="image" name="team" value="Washington Huskies">Washington Huskies <br />

     <img src="http://x.pac-12.com/sites/default/files/styles/thumbnail/public/washington-state-logo__1438812470.png" width="32" height="32">
    <input type="image" name="team" value="Washington Cougars">Washington Cougars <br />

    <img src="http://x.pac-12.com/sites/default/files/styles/thumbnail/public/Stanford_Logo_New_LG__1438812239.png" width="32" height="32">
    <input type="image" name="team" value="Stanford Cardinals">Stanford Cardinals<br />

    <img src="http://x.pac-12.com/sites/default/files/styles/thumbnail/public/cal_yellow_lg_2017.png” width="32" height="32">
    <input type="image" name="team" value="California Bears"> California Bears<br />

    <img src="http://x.pac-12.com/sites/default/files/styles/thumbnail/public/oregon-state-logo_0__1438812147.png" width="32" height="32">
    <input type="image" name="team" value="Oregon State">Oregon State Beavers<br />

    <img src="http://x.pac-12.com/sites/default/files/styles/thumbnail/public/oregon-g-logo__1438812094.png" width="32" height="32">
    <input type="image" name="team" value="Oregon">Oregon Ducks<br /> <br/>

    My State: <input type="text" name="state"><br/>
    <input type="submit">
  </form>
</body>

</html>
