<table border="1" width="1000" height="400" cellpadding="18" cellspacing="0" bgcolor="blue">
  <tr>
    <td width="350" rowspan="7">
<table
 width="350"cellspacing="0"cellpadding="0"align="center"style="color:white; text-align:center; font-size: 22px;">
  <tr><td>* &nbsp &nbsp &nbsp * &nbsp &nbsp &nbsp * &nbsp &nbsp &nbsp * &nbsp &nbsp &nbsp * &nbsp &nbsp &nbsp *</td></tr>
   <tr><td> * &nbsp &nbsp &nbsp * &nbsp &nbsp &nbsp * &nbsp &nbsp &nbsp * &nbsp &nbsp &nbsp *</td></tr>
  <tr><td>* &nbsp &nbsp &nbsp * &nbsp &nbsp &nbsp * &nbsp &nbsp &nbsp * &nbsp &nbsp &nbsp * &nbsp &nbsp &nbsp *</td></tr>
   <tr><td> * &nbsp &nbsp &nbsp * &nbsp &nbsp &nbsp * &nbsp &nbsp &nbsp * &nbsp &nbsp &nbsp *</td></tr>
  <tr><td>* &nbsp &nbsp &nbsp * &nbsp &nbsp &nbsp * &nbsp &nbsp &nbsp * &nbsp &nbsp &nbsp * &nbsp &nbsp &nbsp *</td></tr>
   <tr><td> * &nbsp &nbsp &nbsp * &nbsp &nbsp &nbsp * &nbsp &nbsp &nbsp * &nbsp &nbsp &nbsp *</td></tr>
  <tr><td>* &nbsp &nbsp &nbsp * &nbsp &nbsp &nbsp * &nbsp &nbsp &nbsp * &nbsp &nbsp &nbsp * &nbsp &nbsp &nbsp *</td></tr>
   <tr><td> * &nbsp &nbsp &nbsp * &nbsp &nbsp &nbsp * &nbsp &nbsp &nbsp * &nbsp &nbsp &nbsp *</td></tr>
  <tr><td>* &nbsp &nbsp &nbsp * &nbsp &nbsp &nbsp * &nbsp &nbsp &nbsp * &nbsp &nbsp &nbsp * &nbsp &nbsp &nbsp *</td></tr>
   <tr><td> * &nbsp &nbsp &nbsp * &nbsp &nbsp &nbsp * &nbsp &nbsp &nbsp * &nbsp &nbsp &nbsp *</td></tr>
  <tr><td>* &nbsp &nbsp &nbsp * &nbsp &nbsp &nbsp * &nbsp &nbsp &nbsp * &nbsp &nbsp &nbsp * &nbsp &nbsp &nbsp *</td></tr>

      </table>
    </td>
      <td bgcolor="red" colspan="1"></td>
      <tr>
        <td bgcolor="white" colspan="1"></td>
      </tr>
      <tr>
        <td bgcolor="red" colspan="1"></td>
      </tr>
  <tr>
   <td bgcolor="white" colspan="1"></td>
      </tr>
   <tr>
        <td bgcolor="red" colspan="1"></td>
      </tr>
  <tr>
   <td bgcolor="white" colspan="1"></td>
      </tr>
  <tr>
        <td bgcolor="red" colspan="1"></td>
      </tr>
   <tr>
   <td bgcolor="white" colspan="2"></td>
      </tr>
  <tr>
        <td bgcolor="red" colspan="2"></td>
      </tr>
  <tr>
   <td bgcolor="white" colspan="2"></td>
      </tr>
  <tr>
        <td bgcolor="red" colspan="2"></td>
      </tr>
  <tr>
   <td bgcolor="white" colspan="2"></td>
      </tr>
   <tr>
        <td bgcolor="red" colspan="2"></td>
      </tr>

      </tr>

      </tr>
</table>
