<table border="1">
  <thead>
    <tr>
    <th> Published </th>
    <th> Web Design Books </th>
    <th>Author</th>
    <th>ISBN-13</th>
    </tr>
  </thead>
<tbody>
    <tr><th> November 8.2011</th><td>HTML and CSS: Design and Build Websites</td><td>Jon Duckett</td><td>860-1200464207</td></tr>

      <tr><th> November 11.2011</th> <td>HTML5 Multimedia: Develop and Desgin</td><td>Lan Devlin</td><td>978-0321793935</td></td></tr>

      <tr><th> August 24.2012</th><td>A Beginner's Guide tp HTML,CSS,JavaScript,and Web Graphics</td><td>Jennifer Niederst Robbins</td><td>978-1449319274</td></tr>

      <tr> <th>June 30.2014</th>  <td>JavaScript and JQuery: Interactive Front-End Web Development</td><td>Jon Duckett</td><td>978-1118531648</td></tr>

      <tr><th>December 29.2010</th><td>The Definitive Guide to HTML5 Video</td><td>Silvia Pfeiffer</td><td>978-1430230908</td></tr>

       <tr><th>August 27.2010</th> <td>HTML5: Up and Running</td><td>Mark Pilgrim</td><td>978-0596806026</td></tr>

      <tr><th>November 17.2006</th><td>CSS: The Definitive Guide</td><td>Eric A.Meyer</td><td>978-0596527334</td></tr>

      <tr> <th>May 13.2011</th> <td>JavaScript:The Definitive Guide: Activate Your Web Pages</td><td>David Flmagan</td><td>978-0596805524</td></tr>

      <tr> <th>May 2008</th> <td>JavaScript: The good Parts</td><td>Douglas Crokford</td><td>978-0596517748</td></tr>
  <tbody>
    <tfoot>
      <tr>
        <td colspan= "4"> Amazon Student/FREE Two-Day Shopping on millions of items
          </td>
    </tr>
    </tfoot>
  </tbody>
</table>
