div{
  width: 100px;
  height: 100px;
  background-color: mediumpureple;
}
p{width: 100px;
height: 100px;
}

p.one{background-color:rgb(51, 0, 111);
background-color: hsl(268, 100%, 22%);}

p.two{background-color: rgba(51, 0, 111, 0.9);
background-color: hsla(268, 100%, 22%,0.9);}

p.three{background-color: rgba(51, 0, 111, 0.8);
background-color: hsla(268, 100%, 22%,0.8);}

p.four{background-color: rgba(51, 0, 111, 0.7);
background-color: hsla(268, 100%, 22%,0.7);}

p.five{background-color: rgba(51, 0, 111, 0.6);
background-color: hsla(268, 100%, 22%,0.6);}

p.six{background-color: rgba(51, 0, 111, 0.5);
background-color: hsla(268, 100%, 22%,0.5);}

p.seven{background-color: rgba(51, 0, 111, 0.4);
background-color: hsla(268, 100%, 22%,0.4);}

p.eight{background-color: rgba(51, 0, 111, 0.3);
background-color: hsla(268, 100%, 22%,0.3);}

p.nine{background-color: rgba(51, 0, 111, 0.2);
background-color: hsla(268, 100%, 22%,0.2);}
